<div class ="item">
  <h2> Edit talk submission </h2>
</div>

<%= render 'talk' %>
<br/>
<div class="action">
  <%= link_to 'Show', @talk, class: 'btn btn-primary btn-sm', type: 'button' %>
  <%= link_to 'Back', byot_schedules_latest_path, class: 'btn btn-primary btn-sm', type: 'button' %>
</div>
